
body{
    width: 80%;
    margin: 0 auto; /* To center in the page */
    
}

pre.src{
    background-color: rgb(50, 65, 65);
    color: rgb(220, 220, 200);
    font-size: 110%;
    border-radius: 12px;
    padding-left: 10px;
    border-left: 4px solid gray;
}

pre.src:hover{
    background-color: rgb(50, 65, 90);
    display: block;
}

p{
    font-size: 125%;
    font-family: "Times New Roman", Times, serif;
}

p:hover{
    background-color: rgb(240, 240, 240)
}

.figure-number{
    display: none;
}

blockquote {
    text-align: right;
   /*  margin-bottom: 10px; */
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFFDDD;
    border-right: 4px solid #ffeb8e;
    font-size: 9pt;
    font-style: italic;
   /* border-left-color: rgb(255, 228, 102);*/
   /*display: inline;*/
   /* margin-block-start: 1em; */
   /* margin-block-end: 1em; */
   /* margin-inline-start: 40px; */
    /* margin-inline-end: 40px; */
    border-radius: 12px;
}

div.exercise{
    background-color: rgb(200, 250, 200);
    padding-left: 5px;
    border-left: 4px solid rgb(150, 250, 150);
    border-radius: 12px;
}

div.exercise::before{
    content: "Exercício";
    font-weight: bold;
    color: green;
}

div.warning{
    background-color: rgb(250, 200, 200);
    padding-left: 5px;
    border-left: 4px solid rgb(200, 100, 100);
    border-radius: 12px;
}

div.warning::before{
    content: "Warning!";
    font-weight: bold;
    color: red;
}

div.highlight{
    background-color: rgb(200, 250, 250);
    padding-left: 5px;
    border-left: 4px solid rgb(100, 150, 150);
    border-radius: 12px;
    font-weight: bold;
}

/* #table-of-contents { */
/*     z-index: 1; */
/*     margin-top: 105px; */
/*     font-size: 10pt; */
/*     font-family:sans-serif; */
/*     position: fixed; */
/*     right: 0em; */
/*     top: 0em; */
/*     background: white; */
/*     line-height: 12pt; */
/*     text-align: right; */
/*     box-shadow: 0 0 1em #777777; */
/*     -webkit-box-shadow: 0 0 1em #777777; */
/*     -moz-box-shadow: 0 0 1em #777777; */
/*     -webkit-border-bottom-left-radius: 5px; */
/*     -moz-border-radius-bottomleft: 5px; */
/*     max-height: 80%; */
/*     overflow: auto; */
/*     } */
/* #table-of-contents h2 { */
/*     font-size: 13pt; */
/*     max-width: 9em; */
/*     border: 0; */
/*     font-weight: normal; */
/*     margin-top: 0.75em; */
/*     padding-left: 0.5em; */
/*     padding-right: 0.5em; */
/*     padding-top: 0.05em; */
/*     padding-bottom: 0.05em; */
/* } */
/* #table-of-contents #text-table-of-contents { */
/*     display: none; */
/*     text-align: left; */
/* } */
/* #table-of-contents:hover #text-table-of-contents { */
/*     display: block; */
/*     padding: 0.5em; */
/*     margin-top: -1.5em; */
/* } */


